<main>
  <header class="brand-name">
    <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true" />
  </header>
  <section>
    <form>
      <input type="text" placeholder="Filter by city" />
      <button class="primary" type="button">Search</button>
    </form>
   </section>
  <section class="content">
    <app-home></app-home>
  </section>
  <section class="results">
    @for(housingLocation of housingLocationList; track housingLocation.id){
    <app-house-location [houseLocation]="housingLocation" ></app-house-location>
    }@empty{
      <div>No existen items</div>
    }
  </section>
</main>
 
 
 

   